{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <script src="https://kit.fontawesome.com/bfc4e5b724.js" crossorigin="anonymous"></script>

    </head>

    <style>
         a:link {
           color: #5eb69d;
         }
         a:visited {
           color: #ef7479;
         }
         a:hover {
           color: #78C2AD;
           text-decoration: none;
         }
         ::selection {
           background-color: #78C2AD;
           color: #FFFFFF;
         }
       </style>


       <body class="{% block body_class %}{% endblock %}">
               {% wagtailuserbar %}


        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="rosederwelt.com/">ROSE DER WELT</a>


          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">

            </ul>

<ul class="navright">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="suche...">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">los!</button>
          </form>
        </div>
      </nav>
<br>
<br>

<div class="container">
  <p class="lead">{% block content %}{% endblock %}</p>
  <hr class="my-4">
</div>

<div class="horizontalgap" style="width:30px"></div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>

<footer>
  <center>
  <span style="font-size: 30px">
    <a href="mailto:info@rosamundmather.com"><i class="fas fa-envelope"></i></a>
    <a href="https://goodreads.com/spookytofu"><i class="fab fa-goodreads"></i></a>
    <a href="https://twitter.com/spookytofu"><i class="fab fa-twitter-square"></i></a>
    <a href="https://last.fm/user/puismourir"><i class="fab fa-lastfm-square"></i></a>
  </span>
  <br>
  <small>© Rosamund Mather 2020
  <br>
  <a href="rosederwelt.com/about/">about</a> // <a href="rosederwelt.com/legal/">legal</a>
  </small>
  <br><br>
</center>
</footer>

